cmake-build-debug
cmake-build-release
examples/CMakeFiles
examples/CMakeCache.txt
examples/cmake_install.cmake
examples/Test
examples/Makefile
CMakeUserPresets.json
conan_provider.cmake
build
.idea
.tmp
test.cpp
test.h
old
.clangd
venv
conan/quiche/all/test_package/build
conan/quiche/all/test_package/CMakeUserPresets.json
conan/tquic/all/test_package/build
conan/tquic/all/test_package/CMakeUserPresets.json
curl_lib
libuv
.vscode